* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

textarea {
  color: black;
}

body {
  background-color: #131416;
}

.page {
  position: absolute;
  margin-top: 10vh;
  background-color: #131416;
  height: 90vh;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: scroll;
}

.page::-webkit-scrollbar {
  width: 10%;
}

.page::-webkit-scrollbar-track {
  background-color: #1c41c7;
}

.page::-webkit-scrollbar-thumb {
  background-color: #2b72ed;
}
