.page .projects {
  width: 90%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.page .projects .project {
  width: 20%;
  height: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s;
}

.page .projects .project:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #2b72ed;
}

.page .projects .project .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  transition: all 0.5s;
}

.page .projects .project .img img {
  width: 100%;
  height: auto;
}

.page .projects .project .text {
  transform: translateY(-4px);
  background-color: #111214;
  padding: 15px;
}

.page .projects .project .text h4 {
  margin-top: 10px;
}

.page .projects .project .text p {
  margin-top: 10px;
}

.page .noprojects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.page .noprojects h2 {
  font-size: 2.5rem;
}

.page .noprojects h2 span {
  bottom: 43%;
  left: 14%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  animation: anim 20s reverse infinite;
}

@keyframes anim {
  0% {
    left: 14%;
    background-color: #2b72ed;
  }
  10% {
    left: 84.5%;
    background-color: #2856d4;
  }
  20% {
    left: 14%;
    background-color: #2159b9;
  }
  30% {
    left: 84.5%;
    background-color: #1e51a8;
  }
  40% {
    left: 14%;
    background-color: #1a4591;
  }
  50% {
    left: 84.5%;
    background-color: #1a4591;
  }
  60% {
    left: 14%;
    background-color: #1a4591;
  }
  70% {
    left: 84.5%;
    background-color: #1e51a8;
  }
  80% {
    left: 14%;
    background-color: #2159b9;
  }
  90% {
    left: 84.5%;
    background-color: #2856d4;
  }
  100% {
    left: 14%;
    background-color: #2b72ed;
  }
}
