header {
  position: absolute;
  background-color: #111214;
  height: 10vh;
  width: 100%;
}

header * {
  position: relative;
}

.hamburger {
  width: 50px;
  margin-top: 30px;
  margin-left: 30px;
}

.hamburger span {
  background: #2b72ed;
  display: block;
  width: 60%;
  height: 0.3rem;
  margin: 0.3rem 0;
  border-radius: 3px;
}

.sidebar {
  position: absolute;
  top: -30px;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #111214;
  transform: translateX(-310px);
  transition: all 0.3s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar.open {
  transform: translateX(0px);
}

.sidebar .linkstyle {
  position: relative;
  margin-top: 25px;
  margin-left: 40px;
}

.sidebar .linkstyle.sub {
  position: relative;
  margin-top: 15px;
  margin-left: 60px;
}

.sidebar .linkstyle.sub .link {
  font-size: 1.5em;
  text-decoration: none;
  color: #2b72ed;
  z-index: 3;
}

.sidebar .linkstyle .link {
  font-size: 2em;
  text-decoration: none;
  color: #2b72ed;
  z-index: 3;
  transition: all 0.5s;
}

.sidebar .linkstyle .underline {
  position: absolute;
  background: #1c41c7;
  width: 25%;
  height: 25%;
  border-radius: 10px;
  bottom: -4px;
  left: -4px;
  z-index: 2;
  transition: all 0.5s;
}

.sidebar .linkstyle .link:hover ~ .underline {
  width: 85%;
}

.sidebar .linkstyle .link:hover {
  margin-left: 15px;
}
